* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}

.main {
	position: relative;
	width: 100%;
	height: 787px;
}

.netflix {
	width: 100%;

	display: flex;
	position: absolute;
}

.netflix img {
	width: 100%;
	height: 100%;

}

.logo {
	height: 61.277px;
	width: 225px;
}

.logo img {


	position: absolute;
	z-index: 1;
	margin: 40px;
	padding: 10px;
}

button {
	border: 2px;
	background-color: red;
	color: #000000;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	display: flex;
	right: 0;
	top: 0;
	margin: 40px;
}

input {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

label {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

select {

	width: 100px;
	height: 40px;
	padding: 10px;

}

.menu {

	position: absolute;

	right: 15%;
	top: 0;
	margin: 30px;
	z-index: 33;

}

.text {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.textwrap {
	color: #ffffff;
	width: 50%;
	/* background-color: brown; */
}

.textwrap p {
	text-align: center;
}

.email {
	justify-content: center;
	align-items: center;
	padding: 10px;
	display: flex;
}

.email form {
	display: flex;
	flex-flow: row;
	position: relative;
	width: 100%;
	align-items: center;
	gap: 20px;
}

.email form input {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 49px;
	width: calc(100% - 350px);
	padding: 10px;
}

.email form button {
	border: 2px;
	background-color: red;
	color: #000000;
	font-size: 16px;
	width: 160px;
	margin: 0;
}