* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	text-decoration: none;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	width: 100%;
}

.banner {
	width: 100%;
	background-image: url("../images/Union.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

header img {
	width: 200px;
	margin: 20px;
}

header ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

header ul li {
	font-size: 20px;
	list-style: none;
}

header ul li a {
	text-transform: capitalize;
	transition: all 0.3s;
}

header ul li a:hover {
	color: brown;
}

header .btn-tickets {
	background-color: rgb(255, 1, 137);
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;

}

.row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.row .banner-content {
	width: 50%;
	padding: -20px;
}

.banner-content-image {
	/* display: flex;
	flex-flow: row wrap; */
	align-items: right;
	width: 50%;
	padding: 20px;
	padding: 120px;
	margin-top: 20px;

}

.banner-content button {
	background-color: rgb(255, 1, 137);
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px;
}

.banner2 {
	width: 100%;
	background-color: white;
	height: 100vh;
}

.container2 {
	max-width: 80%;
	margin: 0 auto;
}

.row2 {
	display: flex;
	flex-flow: row wrap;
	/* align-items: center; */
	width: 100%;
	height: 100vh;
}

.row2 .img1 {
	width: 50%;
	margin-top: 120px;
}

.row2 .img2 {
	width: 50%;
	margin-top: 120px;
}